@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-size: 1.2rem;
}

input:focus{
    outline: none;
}

.the-products{
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.filter-basket{
    width: 86%;
}

.basket-page{
    position: fixed;
    top:1rem;
    right:1rem;
    padding: 1.4rem;
    max-height: 90vh;
    width: 30rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow-y: auto;
    text-align: center;
  }

  .purchase-products{  
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .toggled-bg{
    opacity: 0.5;
  }

  .last-confirm{
    position: fixed;
    top:1rem;
    right:1rem;
    padding: 1.4rem;
    max-height: 90vh;
    width: 30rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow-y: auto;
    text-align: center;
  }

  .payment-container{
    position: fixed;
    top:1rem;
    right:1rem;
    padding: 1.4rem;
    max-height: 90vh;
    width: 35rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow-y: auto;
    text-align: center;
  }

  .card{
    color: white;
    width: 80%;
    height: 16rem;
    background: rgb(50,49,49);
   background: linear-gradient(0deg, rgba(50,49,49,1) 0%, rgba(152,152,152,1) 0%, rgba(17,16,16,1) 100%);
   border-radius: 1rem;  
   padding: 1rem;
  }
  
  .the-card input{
    width: 12rem;
    height: 1rem;
    margin: 0.4rem;
    color: rgb(52, 52, 52);
    padding: 0.1rem;
    border: none;
  }

  .input-containers{
    width: 13rem;
    height: 2rem;
    margin: 0.4rem;
    border: 1px solid #ccc;
    color: black;
    padding: 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  .card-special{
   width: 90%
  }
  
  .card-back{
    height: 16rem;
    width: 80%;
    background: rgb(94,94,94);
    background: linear-gradient(0deg, rgba(94,94,94,1) 18%, rgba(17,16,16,1) 100%);
    border-radius: 1rem;
  }
  
  .card-black{
    width: 80%;
    height: 4rem;
    background: black;
  }

  form{
    display: flex;
    flex-direction: column;
    margin: 1rem;

  }

  form div{
    padding: 0.5rem;
    margin: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
  }

  
  .card-cvc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    width: 60%;
    height: 3rem;
    background-color: #e5e5f7;
  opacity: 0.9;
  background-image:  linear-gradient(whitesmoke 2px, transparent 2px), linear-gradient(90deg, whitesmoke 2px, transparent 2px), linear-gradient(whitesmoke 1px, transparent 1px), linear-gradient(90deg, whitesmoke 1px, #e5e5f7 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    text-align: end;
    margin-top: 1rem;
  }

 @media(max-width: 520px){
  .navbar{
    height: 8rem;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .search{
    margin: 0;
    padding: 0;
  }

  .filter-basket{
    flex-direction: column;
    position: relative;
  }

  .filter-items{
    display: flex;
    height: 10rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .basket-page{
    width: 18rem;
  }

  .last-confirm{
    width: 18rem;
  }

  .payment-container{
    width: 18rem;
  }

  .card-inputs{
    flex-direction: column;
  }

  .special-card-inputs{
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card-special{
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-special h2{
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    margin-right: 2rem;
  }

  .card{
    width: 100%;
    height: 20rem;
   
  }

  .card-back{
    width: 100%; 
  }


 }